@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

nav{
  max-width: 100vw;
  height: 86px;
  background-color: #0E1D36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .logo{
  margin-left: 54px;
}

nav .contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 140px;
  width: 189px;
  height: 45px;
}

nav .contact span{
  width: 1px;
  height: 19px;
  background: #DAD8D8;
  display: flex;
}

nav .contact a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav .contact svg {
  filter: invert(1);
  margin-left: 10px;
}

section{
  width: 100vw;
  height: 807px;
  /* flex-shrink: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

section .left-wrapper{
  width: 55%;
  height: 524px;
  /* border: 1px solid blue; */
}

section .left-wrapper .project-name-container h4{
  color: #72CCA4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

section .left-wrapper .project-title-container{
  width: 664px;
  margin-top: 19px;
  /* border: 1px solid red; */
}

section .left-wrapper .project-title-container h1{
  color: var(--text-title, #2E2E2E);
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}

section .left-wrapper .project-description-container{
  width: 649px;
  margin-top: 26px;
}

section .left-wrapper .project-description-container p{
  color: var(--text-body, #808080);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.7px;
}


section .right-wrapper{
  width: 30%;
  height: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

section .right-wrapper .project-image-container{
  border-radius: 21px;
  background: url(/font_image_section1.png), lightgray 50% / cover no-repeat;
  width: 417.5px;
  height: 524px;
  flex-shrink: 0;
}

section .left-wrapper .project-cta-container{
  display: flex;
  flex-direction: row;
  margin-top: 63px;
}

section .left-wrapper .project-cta-container button{
  display: flex;
  width: 160px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

section .left-wrapper .project-cta-container button:first-child{
  margin-right: 24px;
  background: #72CCA4;
  color: white;
}