@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/inter');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#landing-page{
  display: flex;
  flex-direction: column;
}

nav{
  width: 100%;
  height: 86px;
  background-color: #0E1D36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav .logo{
  margin-left: 54px;
}

nav .contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 140px;
  width: 189px;
  height: 45px;
}

nav .contact span{
  width: 1px;
  height: 19px;
  background: #DAD8D8;
  display: flex;
}

nav .contact a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 15px;
}

nav .contact svg {
  filter: invert(1);
  margin-left: 10px;
}

@media screen and (max-width: 650px){
  nav .logo{
    margin-left: 2%;
  }

  nav .logo img{
    width: 90%;
  }

  nav .contact{
    margin-right: 3%;
  }
  
}

.first-section{
  width: 100%;
  min-height: 807px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section .left-wrapper{
  width: 55%;
  height: 524px;
}

.first-section .left-wrapper .project-name-container h4{
  color: #72CCA4;
  font-family: Poppins;
  font: 600 normal;
  font-size: clamp(16px, 3vw, 20px);
  line-height: normal;
}

.first-section .left-wrapper .project-title-container{
  width: 664px;
  margin-top: 19px;
}

.first-section .left-wrapper .project-title-container h1{
  color: var(--text-title, #2E2E2E);
  font-family: Poppins;
  font: 700 normal;
  font-size: clamp(26px, 5vw, 50px);
  line-height: clamp(48px, 6vw, 60px);
}

.first-section .left-wrapper .project-description-container{
  width: 649px;
  margin-top: 26px;
}

.first-section .left-wrapper .project-description-container p{
  color: var(--text-body, #808080);
  font-family: Poppins;
  font: 400 normal;
  font-size: clamp(10px, 2vw, 14px);
  line-height: clamp(24px, 3vw, 28px);
  letter-spacing: 0.7px;
}


.first-section .right-wrapper{
  width: 30%;
  height: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section .right-wrapper .project-image-container{
  border-radius: 21px;
  width: 417.5px;
  height: 524px;
}

.first-section .left-wrapper .project-cta-container{
  display: flex;
  flex-direction: row;
  margin-top: 63px;
}

.first-section .left-wrapper .project-cta-container button{
  width: 160px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #72CCA4;
  border: none;
}

.first-section .left-wrapper .project-cta-container button a{
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1240px){
  .first-section{
    flex-direction: column;
  }

  .first-section .left-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .first-section .left-wrapper .project-title-container{
    text-align: center;
  }

  .first-section .left-wrapper .project-description-container{
    text-align: center;
  }

  .first-section .right-wrapper{
    width: 100%;
  }

  .first-section .right-wrapper .project-image-container{
    display: flex;
    justify-content: center;
  }

  .first-section .right-wrapper .project-image-container img{
    width: 80%;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (max-width: 700px){

  .first-section .left-wrapper .project-name-container h4{
    margin-top: 20px;
  }

  .first-section .left-wrapper .project-title-container{
    width: auto;
  }

  .first-section .left-wrapper .project-description-container{
    width: auto;
  }
}

.second-section{
  width: 100%;
  min-height: 771px;
  background: #0E1D36;
}

.second-section .section-title-container{
  margin-top: 69px;
}

.second-section .section-title-container h2{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font: 600 normal;
  font-size: 40px;
  line-height: 60px;
}

.second-section .section-description-container{
  margin-top: 11px;
}

.second-section .section-description-container h4{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.second-section .card-wrapper{
  width: 100%;
  min-height: 355px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 160px;
}

.second-section .card-wrapper .card{
  max-width: 350px;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

@media screen and (max-width: 1150px){

  .second-section .card-wrapper{
    flex-direction: column;
  }

  .second-section .card-wrapper .card{
    width: 80%;
  }

  .second-section .card-wrapper .card .image img{
    width: 100%;
  }

}

.second-section .card-wrapper .card .card-texte{
  width: 293px;
  height: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: -96px;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}

.second-section .card-wrapper .card .card-texte p{
  color: #101010;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: normal;
  margin: 20px;
}

.third-section{
  width: 100%;
  height: 964px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-section .section-title-container{
  margin-top: 82px;
}

.third-section .section-title-container h2{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font: 600 normal;
  font-size: clamp(24px, 4vw, 40px);
  line-height: 60px;
}

.third-section .section-description-container{
  margin-top: 11px;
}

.third-section .section-description-container h4{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 25px;
}

.third-section .selector-container{
  width: 1199px;
  height: 611px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.third-section .selector-container .selector-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#selector-open h3{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font: 600 normal;
  font-size: clamp(20px, 3vw, 30px);
  line-height: 40px;
  cursor: pointer;
}

#selector-close h3{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font: 600 normal;
  font-size: clamp(20px, 3vw, 30px);
  line-height: 40px;
  cursor: pointer;
}

#selector-close span{
  width: 443px;
  height: 4px;
  display: flex;
  position: relative;
  bottom: 0;
  background: #C4C4C4;
  transition: background-color 0.3s ease-in-out;
}

#selector-open span{
  width: 443px;
  height: 4px;
  display: flex;
  position: relative;
  bottom: 0;
  background: #72CCA4;
  transition: background-color 0.3s ease-in-out;
}

.third-section .selector-container .selector-displayer-container{
  display: flex;
  flex-direction: row;
}

.third-section .selector-container .selector-displayer-container .selector-images-container{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.third-section .selector-container .selector-displayer-container .selector-texte-container {
  width: 672px;
  height: 446px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  border-radius: 16px;
  margin: 114px 0px 0px 79px;
  padding: 48px;
  background: #FFF;
  border: 1px solid var(--black-gray-black-10, rgba(82, 82, 91, 0.10));
}

.third-section .selector-container .selector-displayer-container .selector-texte-container .selector-texte{
  color: var(--black-gray-777, #777);
  font-family: Inter;
  font-size: clamp(16px, 2vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.third-section .selector-container .selector-displayer-container .selector-texte-container button{
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  margin-top: 92px;
  gap: 10px;
  border: none;
  background: #72CCA4;
  color: white;
  cursor: pointer;
}

.third-section .selector-container .selector-displayer-container .selector-texte-container button a{
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1250px){

  .third-section{
    height: auto;
  }

  .third-section .selector-container{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .third-section .selector-container .selector-wrapper{
    flex-direction: column;
  }

  .third-section .selector-container .selector-displayer-container{
    flex-direction: column;
    align-items: center;
  }

  .third-section .selector-container .selector-displayer-container .selector-texte-container{
    width: 90%;
    height: 100%;
    gap: 0px;
    margin: 100px 0px 50px 0px;
  }

  #selector-close span,
  #selector-open span{
    width: 100%;
  }

  .third-section .selector-container .selector-image img{
    width: 100%;
  }
}

#fourth-section{
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 96px 0px;
  background: #0E1D36;
}

#fourth-section form{
  width: 90%;
  max-width: 1216px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #FFF;
}

#fourth-section form .section-form-informations{
  width: 480px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

#fourth-section form .section-form-informations h2{
  color: var(--gray-900, #101828);
  font-family: Poppins;
  font-size: clamp(24px, 4vw, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}

#fourth-section form .section-form-informations h4{
  color: var(--gray-500, #667085);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 30px;
}

#fourth-section form .names{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#fourth-section form label,
#fourth-section form .names label{
  color: var(--gray-700, #344054);
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
}

#fourth-section form input[type="text"]{
  width: 224px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background: var(--White, #FFF);
  border: 1px solid var(--gray-300, #D0D5DD);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#fourth-section form input[type="email"]{
  width: 480px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background: var(--White, #FFF);
  border: 1px solid var(--gray-300, #D0D5DD);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

#fourth-section form textarea{
  width: 480px;
  height: 128px;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 8px;
  background: var(--White, #FFF);
  border: 1px solid var(--gray-300, #D0D5DD);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  resize: none;
}

.formCheckboxLab{
  width: 480px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#fourth-section form input[type="checkbox"]{
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
}

#fourth-section form button{
  width: 480px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px 20px;
  margin-top: 32px;
  background: #6FCAA5;
  color: white;
  cursor: pointer;
  border: 1px solid var(--brand-600, #7F56D9);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

@media screen and (max-width: 650px){
  #fourth-section form .section-form-informations{
    width: 90%;
  }
  
  #fourth-section form .names{
    flex-direction: column;
    gap: 0px;
    width: 90%;
  }

  #fourth-section form label {
    width: 90%;
  }

  #fourth-section form input[type="text"]{
    width: 100%;
  }
  
  #fourth-section form input[type="email"]{
    width: 90%;
  }
  
  #fourth-section form textarea{
    width: 90%;
  }

  #fourth-section form button{
    width: 90%;
  }
}

footer{
  width: 100%;
  min-height: 420px;
  height: auto;
  background: #0E1D36;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .footer-col1{
  margin-left: -52px;
}

footer .footer-col1 .description{
  width: 296px;
  font-family: Inter;
  font: 400 normal;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 26px;
  margin-top: 10px;
  color: #FFF;
}

footer .footer-col1 .social-icons{
  margin-top: 45px;
}

footer .footer-col1 .social-icons svg{
  margin: 0 9px;
  cursor: pointer;
}

footer .footer-col2,
footer .footer-col3,
footer .footer-col4{
  height: 225px;
}

footer .footer-col2 ul,
footer .footer-col3 ul,
footer .footer-col4 ul{
  color: white;
  text-decoration: none;
  list-style: none;
}

footer .footer-col2 ul li:first-child,
footer .footer-col3 ul li:first-child,
footer .footer-col4 ul li:first-child{
  color: var(--text-white, #FFF);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Inter;
  font-size: clamp(10px, 2vw, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
}

footer .footer-col2 ul li,
footer .footer-col3 ul li,
footer .footer-col4 ul li{
  margin-top: 24px;
  color: var(--text-disable, #E6E6E6);
  font-family: Inter;
  font-size: clamp(10px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  white-space: nowrap;
}

@media screen and (max-width: 1350px){
  footer{
    flex-direction: column;
    height: auto;
  }

  footer .footer-col1{
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
  }

  footer .footer-col1 .social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
  }

  footer .footer-col2,
  footer .footer-col3,
  footer .footer-col4{
    height: 50px;
    width: 100%;
  }

  footer .footer-col1,
  footer .footer-col2 ul,
  footer .footer-col3 ul,
  footer .footer-col4 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  footer .footer-col2 ul li,
  footer .footer-col3 ul li,
  footer .footer-col4 ul li{
    margin: 0 5px;
  }
}

@media screen and (max-width: 800px){

  footer .footer-col1 .logo img{
    width: 80%;
  }

  footer .footer-col1 .social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  footer .footer-col1 .social-icons svg{
    margin: 10px;
    height: 55%;
    width: 55%;
  }
}